.exam {
  display: flex;
  align-items: center;
  justify-content: center;
  .buttons-column {
    flex-direction: column;
    display: flex;
  }
  p-button {
    background-color: white;
    width: 200px;
    border-radius: 5px;
    border: 1px solid rgb(100, 100, 100);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  p-button:hover {
    background-color: rgb(157, 157, 157);
    cursor: pointer;
  }
  .question-box {
    border: 3px solid gray;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
  }
}
